.align-welcome-page{
    border:none;
    outline: none;
    height:100%;
    border-radius: 0px;
    align-items: center;
}

.decorate-welcome-div{
    color: green;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    background-color: none;
    font-family: "Jersey 15", serif;
}

.decorate-welcome-input{
    margin-top: 1rem;
    outline: none;
    border: none;
    height: 40px;
    border-bottom: 1px solid black;
    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
}

.decorate-welcome-input:focus   {
    border-bottom: 2px solid green;
}
    
.decorate-welcome-button {
    background-color: green;
    color: white;
    font-size: 15px;
    font-weight: medium;
    font-family: sans-serif;
    border:none;
    height: 40px;
    border-radius: 10px;
    margin-left: 2px;
}

.decorate-welcome-button:focus {
    background-color: rgb(3, 73, 44);
}

.decorate-welcome-dropdown {
    color: white;
    outline: none;
    border: none;
    background-color: green;
    font-family: sans-serif;
    font-size: 12px;
    width: 65px;
    height: 25px;
    border-radius: 10px;
}

.decorate-welcome-dropdown:focus {
    background-color: rgb(3, 73, 44);
}

.decorate-welcome-err-message {
    color: red;
    font-weight: bold;
    font-family: sans-serif;
}